<div class="p-4">
  <div class="flex items-center justify-center max-w-screen-lg mx-auto bg-gray-900 text-sm leading-5 text-gray-300 px-4 py-3 rounded shadow">
    <span>
      This is a blog example built with <a href="https://www.lexascms.com/" target="_blank" class="underline">LexasCMS</a> and <a href="https://emberjs.com/" target="_blank" class="underline">Ember.js</a>
      - <a href="https://github.com/lexascms/example-ember-blog/" target="_blank" class="underline">View source code</a>
    </span>
  </div>
</div>

<div class="px-5">
  <div class="max-w-screen-lg mx-auto py-16">
    {{outlet}}
  </div>
</div>